.australia-hero {
    background-image: linear-gradient(to right, $overlay-black, $overlay-black),
    url(../images/tour/tour-03.jpg);
}

.australia-preview1 {
    background-image: url(../images/tour/tour-aus/aus-tour-01.jpg);
}

.australia-preview2 {
    background-image: url(../images/tour/tour-aus/aus-tour-02.jpg);
}

.australia-preview3 {
    background-image: url(../images/tour/tour-aus/aus-tour-03.jpg);
}