.canada-hero {
    background-image: linear-gradient(to right, $overlay-black, $overlay-black),
    url(../images/tour/tour-08.jpg);
}

.canada-preview1 {
    background-image: url(../images/tour/tour-canada/canada-tour-01.jpg);
}

.canada-preview2 {
    background-image: url(../images/tour/tour-canada/canada-tour-02.jpg);
}

.canada-preview3 {
    background-image: url(../images/tour/tour-canada/canada-tour-03.jpg);
}