.egypt-hero {
    background-image: linear-gradient(to right, $overlay-black, $overlay-black),
    url(../images/tour/tour-06.jpg);
}

.egypt-preview1 {
    background-image: url(../images/tour/tour-egypt/egypt-tour-01.jpg);
}

.egypt-preview2 {
    background-image: url(../images/tour/tour-egypt/egypt-tour-02.jpg);
}

.egypt-preview3 {
    background-image: url(../images/tour/tour-egypt/egypt-tour-03.jpg);
}