.france-hero {
    background-image: linear-gradient(to right, $overlay-black, $overlay-black),
    url(../images/tour/tour-05.jpg);
}

.france-preview1 {
    background-image: url(../images/tour/tour-france/france-tour-01.jpg);
}

.france-preview2 {
    background-image: url(../images/tour/tour-france/france-tour-02.jpg);
}

.france-preview3 {
    background-image: url(../images/tour/tour-france/france-tour-03.jpg);
}