.israel-hero {
    background-image: linear-gradient(to right, $overlay-black, $overlay-black),
    url(../images/tour/tour-01.jpg);
}

.israel-preview1 {
    background-image: url(../images/tour/tour-israel/israel-tour-01.jpg);
}

.israel-preview2 {
    background-image: url(../images/tour/tour-israel/israel-tour-02.jpg);
}

.israel-preview3 {
    background-image: url(../images/tour/tour-israel/israel-tour-03.jpg);
}