.japan-hero {
    background-image: linear-gradient(to right, $overlay-black, $overlay-black),
    url(../images/tour/tour-07.jpg);
}

.japan-preview1 {
    background-image: url(../images/tour/tour-japan/japan-tour-01.jpg);
}

.japan-preview2 {
    background-image: url(../images/tour/tour-japan/japan-tour-02.jpg);
}

.japan-preview3 {
    background-image: url(../images/tour/tour-japan/japan-tour-03.jpg);
}