.uae-hero {
    background-image: linear-gradient(to right, $overlay-black, $overlay-black),
    url(../images/tour/tour-09.jpg);
}

.uae-preview1 {
    background-image: url(../images/tour/tour-uae/uae-tour-01.jpg);
}

.uae-preview2 {
    background-image: url(../images/tour/tour-uae/uae-tour-02.jpg);
}

.uae-preview3 {
    background-image: url(../images/tour/tour-uae/uae-tour-03.jpg);
}