.usa-hero {
    background-image: linear-gradient(to right, $overlay-black, $overlay-black),
    url(../images/tour/tour-02.jpg);
}

.usa-preview1 {
    background-image: url(../images/tour/tour-usa/usa-tour-01.jpg);
}

.usa-preview2 {
    background-image: url(../images/tour/tour-usa/usa-tour-02.jpg);
}

.usa-preview3 {
    background-image: url(../images/tour/tour-usa/usa-tour-03.jpg);
}